table {
  width: 100%;
}

table,
td {
  height: 50px;
}

th {
  height: 50px;
}

td {
  padding: 10px;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

tbody {
  tr {
    cursor: pointer;
  }

  tr:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.data-table {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
}

.top-panel {
  display: flex;
  flex-direction: row;
  height: 55px;
  background-color: rgb(215, 215, 215);
  width: 100%;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(215, 215, 215);
}
