.side-panel {
  background-color: rgb(42, 42, 42);
  height: 100vh;
  width: 450px;
  display: flex;
  flex-direction: row;
}

.client-name {
  background-color: rgb(65, 65, 65);
  height: 75px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  color: rgb(174, 174, 174);
  font-size: 24px;
}

.side-panel__options {
  width: 100%;
}

.side-panel__route {
  text-align: center;
  height: 65px;
  padding-top: 25px;
  color: rgb(174, 174, 174);
  font-size: 18px;
}

.side-panel__route--selected {
  color: white;
  background-color: rgb(97, 97, 97);
}
