.repos {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.side-panel {
  background-color: rgb(42, 42, 42);
  height: 100vh;
  width: 450px;
  display: flex;
  flex-direction: row;
}

.main-panel {
  width: 100%;
}

table {
  width: 100%;
}
table,
td {
  height: 50px;
}

td {
  padding: 10px;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.top-panel {
  display: flex;
  flex-direction: row;
  height: 55px;
  background-color: rgb(215, 215, 215);
  width: 100%;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(215, 215, 215);
}

.top-panel__element {
  padding: 15px;
  width: 300px;
  font-size: 18px;
}
.client-name {
  background-color: rgb(65, 65, 65);
  height: 75px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  color: rgb(174, 174, 174);
  font-size: 24px;
}

.side-panel__options {
  width: 100%;
}

.side-panel__route {
  text-align: center;
  height: 65px;
  padding-top: 25px;
  color: rgb(174, 174, 174);
  font-size: 18px;
}

.side-panel__route--selected {
  color: white;
  background-color: rgb(97, 97, 97);
}

.flex-column {
  display: flex;
  flex-direction: column;
}
