table.data-table__table {
  width: 100%;
}

table.data-table__table,
.data-table__table td {
  height: 34px;
  padding: 10px;
}

.data-table__table th {
  height: 34px;
  padding: 10px;
}

.data-table__table thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.top-panel {
  display: flex;
  flex-direction: row;
  height: 55px;
  background-color: rgb(229, 229, 229);
  width: 100%;
  padding: 10px;
}

.data-table__table tr:nth-child(even) {
  background-color: rgb(229, 229, 229);
}

.top-panel__element {
  padding: 15px;
  width: 300px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-table-title {
  color: rgb(150, 150, 150);
}

table.modal-table {
  border: 1px solid;
  border-collapse: collapse;
  font-size: 14px;
}

.modal-table td {
  border: 1px solid;
  height: 25px;
  padding: 3px 10px;
}

.modal-table thead {
  background-color: rgb(230, 230, 230);
}

.env-promotions__table {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  padding: 5px;
}
