.repos {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.side-panel {
  background-color: rgb(42, 42, 42);
  height: 100vh;
  width: 450px;
  display: flex;
  flex-direction: row;
}

.main-panel {
  width: 100%;
}

table.data-table__table {
  width: 100%;
}

table.data-table__table,
.data-table__table td {
  height: 34px;
  padding: 10px;
}

.data-table__table th {
  height: 34px;
  padding: 10px;
}

.data-table__table thead, tfoot {
  background-color: #333;
  color: #fff;
}

.top-panel {
  display: flex;
  flex-direction: row;
  height: 55px;
  background-color: rgb(229, 229, 229);
  width: 100%;
  padding: 10px;
}

.data-table__table tr:nth-child(even) {
  background-color: rgb(229, 229, 229);
}

.top-panel__element {
  padding: 15px;
  width: 300px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-table-title {
  color: rgb(150, 150, 150);
}

table.modal-table {
  border: 1px solid;
  border-collapse: collapse;
  font-size: 14px;
}

.modal-table td {
  border: 1px solid;
  height: 25px;
  padding: 3px 10px;
}

.modal-table thead {
  background-color: rgb(230, 230, 230);
}

.env-promotions__table {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  padding: 5px;
}

.client-name {
  background-color: rgb(64, 64, 64);
  height: 75px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  color: rgb(174, 174, 174);
  font-size: 24px;
}

.side-panel__options {
  width: 100%;
}

.side-panel__route {
  text-align: center;
  height: 65px;
  padding-top: 25px;
  color: rgb(174, 174, 174);
  font-size: 18px;
}

.side-panel__route--selected {
  color: white;
  background-color: rgb(97, 97, 97);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}


.data-table {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.circle {
  background-color: forestgreen;
  height: 100px;
  width: 100px;
}

.lds-grid {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: forestgreen;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

